body {
    background-color: #BAD7DF;
    margin: 0;
    width: 100%;
    overflow-y: hidden;
}

.header-btn {
    padding-top: 35px;
    padding-left: 54px;
    padding-right: 54px;
    display: flex;
    justify-content: space-between;
}

.btn-help {
    text-align: center;
    font-family: MarkoOne-Regular, serif;
    font-size: 40px;
    color: #355C7D;
    width: 55px;
    height: 55px;
    border-radius: 12px;
    background-color: #99DDCC;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s, box-shadow 0.2s;
}

.btn-attention {
    text-align: center;
    font-family: MarkoOne-Regular, serif;
    font-size: 40px;
    color: #355C7D;
    width: 55px;
    height: 55px;
    border-radius: 12px;
    background-color: #99DDCC;
    border-radius: 12px;
    background-color: #99DDCC;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s, box-shadow 0.2s;
}   

.btn-attention:hover {
    background-color: #83C9B7;
}

.btn-help:hover {
    background-color: #83C9B7;
}

.btn-attention:active {
    transform: translateY(2px);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.25);
}

.btn-help:active {
    transform: translateY(2px);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.25);
}

.main-upload {
    background-image: url("../img/Vectors.svg");
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60%;
    z-index: -200;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-img {
    background-color: #99DDCC;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.img {
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.text-img {
    font-size: 20px;
    font-family: KumbhSans-ExtraBold, sans-serif;
    color: #355C7D;
}

.img-plus {
    width: 150px;
    height: 150px;
}

.sub-btn {
    font-size: 24px;
    background-color: #99DDCC;
    border-radius: 50px;
    font-family: KumbhSans-ExtraBold, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #355C7D;
    border: none;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.4s, box-shadow 0.2s;
}

.sub-btn:active {
    transform: translateY(2px);
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.25);
}

.sub-btn:hover {
    background-color: #83C9B7;
}

@font-face {
    font-family: KumbhSans-ExtraBold;
    src: url("../fonts/KumbhSans-ExtraBold.ttf");
}

@font-face {
    font-family: MarkoOne-Regular;
    src: url("../fonts/MarkoOne-Regular.ttf");
}